Django==4.2.11
gunicorn
djangorestframework==3.15.1
djangorestframework-simplejwt
django-cors-headers==4.3.1
PyPDF2
channels
channels_redis
daphne
requests
celery
redis
django-celery-beat
django-celery-results
drf-spectacular
psycopg2-binary==2.9.9
python-dotenv==1.0.1